<div class="menu-bar">
    <nav class="pure-menu" [ngClass]="{'pure-menu-operable': menuOperable}">
        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="#" class="pure-menu-link">Reset image</a></li>
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" id="menuLink1" class="pure-menu-link">File</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Save contour</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Save mask</a></li>
                </ul>
            </li>
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" id="menuLink2" class="pure-menu-link">Display</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Image only</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Image + contour</a></li>
                </ul>
            </li>
            <li class="pure-menu-item pure-menu-has-children pure-menu-allow-hover">
                <a href="#" id="menuLink2" class="pure-menu-link">Debug</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Pixel node</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Cost graph</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Path tree</a></li>
                    <li class="pure-menu-item"><a href="#" class="pure-menu-link">Min path</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    <span class="menu-bar-title">{{MenuBarTitle}}</span>
</div>