/* You can add global styles to this file, and also import other style files */
image-upload {
	transition: opacity 0.8s ease;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
}
.upload-handle {
	opacity: 0.5;
}
.hide-upload-handle {
	opacity: 0;
}
.img-ul {
	height: 100%;
	background-color: rgba(180, 180, 180, 0.4) !important;
}
.img-ul-container, .img-ul-button, .img-ul-upload {
	display: none !important;
}
.img-ul-drag-box-msg {
	line-height: 64px;
	font-size: 64px;
	color: rgba(40, 40, 40, 0.5) !important;
}
.img-ul-hr-inline-group {
	position: relative;
	height: 100%;
	display: flex;
	flex-flow: row;
	justify-content: center;
	align-items: center;
}