.root {
	position: absolute;
	width: 100%;
	height: 100%;

	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
}
.drawing-area {
	width: 100%;
	height: calc(100% - 64px);
}
.control-area {
	width: 100%;
	height: 64px;
}